/* root tag chooses the root element in this case it would be html tag <html> */
/* therefore these apply to all app*/
:root {
    --main-color: #5ea3d0;
    --secondary-color:white;
    --main-text-color: #3e5869;
    --secondary-text-color: #b0c7d6;
    --send-message-form: #F5F5F5;
}

.app {
  display: grid;
  width: 100%;

  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 60px;
  /* this grid is visual representation that we just made */
  /*the 'r' are the representation of components*/
  grid-template-areas:
      "r m m m m m"
      "r m m m m m"
      "r m m m m m"
      "r m m m m m"
      "r m m m m m"
      "n f f f f f";
}

/* each component is place inside the grid base on the character that matches */
.new-room-form{
  grid-area: n;
}

.new-room-form{
  padding: 0 5px;
  background-color: var(--secondary-color);
  color: var(--main-text-color);
  height: 100%;
  width: 90%;
}

.new-room-form form{
  height:100%;
  display: flex;
  justify-content: space-between;

}

.room-list{
  grid-area: r;
}
/* this is a variable from root tag */
.room-list{
  box-sizing: border-box;
  padding: 10px;
  background-color: var(--main-color);
  overflow: scroll;
  height: 100%;
}
.room-list ul{
  list-style-type: none;
  padding: 0;
  overflow: scroll;
}

.room-list li{
  margin: 10px 0;
}

.room-list h3{
  margin: 5px 0;
  color: var(--secondary-color);
}

.room-list .room a {
  color: var(--secondary-text-color);
  font-weight: 600;
  text-decoration: none;
}
.room-list .room.active a {
  color: var(--secondary-color);
}


.message-list{
  grid-area: m;
}

.message-list .join-room{
  margin-top: 50%;
  text-align: center;
}

.send-message-form{
  grid-area: f;
  width: 99%;

}
.send-message-form input{
  height: 90%;
  width: 99%;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
